<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация нового пользователя</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<form th:method="POST" th:action="@{/admin/auth/registration}" th:object="${person}">

    <div class="col-md-6 mb-3">
        <label for="f">Введите ФИО</label>
        <input th:field="*{name}" type="text" id="f" class="form-control" placeholder="ФИО" required>
    </div>
    <div class="col-md-6 mb-3">
        <label for="name">Введите логин</label>
        <input th:field="*{username}" type="text" id="name" class="form-control" placeholder="Логин" required>
    </div>


    <div class="col-md-6 mb-3">
        <label for="password">Введите пароль</label>
        <input th:field="*{password}" type="password" id="password" class="form-control" placeholder="Пароль" required min="0.0">
    </div>

    <div class="col-md-6 mb-3">
        <label for="stateOne">Выберите должность</label>
        <select th:field="*{role}" id="stateOne" class="custom-select d-block w-100" aria-label="Default select example">
            <option th:each="value : ${roles}"
                    th:value="${value.getId()}"
                    th:text="${value.getDescription()}"></option>
        </select>
    </div>

    <button class="btn btn-primary btn-block" type="submit">Создать пользователя</button>

</form>
</body>
</html>